* {
    font-family: sans-serif;
    padding: 0 ;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    cursor: pointer;
}

.container-links {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 10px 20px ;

}

img {
    border-radius: 5px;
    box-shadow: black;
    }

.container-img {
    display: flex;
    justify-content: center;
    padding: 20px;
}